#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Surveyman</h1>

<p>Welcome to Surveyman.</p>

<h2>How it Works</h2>

<ol>
    <li><a href="@{Application.signup}">Get an account</a></li>
    <li>Create a survey</li>
    <li>Intercept respondents from your site</li>
</ol>

<h2>Examples</h2>

<ul>
    <li><a href="@{Examples.slideup}">Slide-up Intercept</a></li>
    <li><a href="@{Examples.fadein}">Fade-in Intercept</a></li>
</ul>

<script type="text/javascript" src="@{'/public/javascripts/analyzer.js'}"></script>
<script type="text/javascript">
$(document).ready(function(){
	new SWAnalyzer('d8141a42-18c2-48f0-8f97-2f6c56d6a132').track();
});
</script>